/* General Styling*/
body {
  font-family: "Montserrat", sans-serif;
}
a {
  color: #06c;
}
ul{
  list-style-type: none;
}
img {
  max-width: 100%;
}
video{
  width: 100%;
}
.white {
  color: #fff;
}
.black {
  color: #1d1d1f;
}
.grey {
  color: #86868b;
}
.top-50 {
  margin-top: 50px;
}
.top-100 {
  margin-top: 100px;
}
/* Header Style */
.nav-wrapper {
  background: rgba(0, 0, 0, 0.8);
  font-size: 0.85em;
  font-weight: 200;
  
}
.nav-wrapper ul li a {
  color: #fff;
}
.navbar-toggler {
  color: #fff;
}
.nav-item {
  text-align: left !important;
  padding: 4px 0;
  border-bottom: 1px solid #4b4b4b;
}

.first-hightlight-wrapper{
  padding: 65px 20px;
  background-image: url(../img-curent/holiday_2023_still_time_hero_large.jpg);
  background-repeat: no-repeat;
  background-size: initial;
  background-position: center;
  display: flex;
  align-items: flex-end;
  height: 580px;
  border: solid;

}
.second-hightlight-wrapper{
  background-image: url(../img-curent/hero_iphone15pro_large.jpg);
  height: 580px;
  background-position: center;
  border: solid;
  color: #fff;
}
.third-hightlight-wrapper{
  background-image: url(../img-curent/hero_iphone15_large.jpg);
  height: 580px;
  background-position: center;
  border: solid;
 
}
.fourth-heghlight-wrapper{
  background-image: url(../img-curent/promo_mbp__large.jpg);
  background-repeat: no-repeat;
  background-size: initial;
  background-position: center;
  height: 580px;
}
.fifth-heghlight-wrapper{
  background-image: url(../img-curent/promo_mbp__large.jpg);
  background-repeat: no-repeat;
  background-size: initial;
  background-position: center;
  height: 580px;
}
.sixthe-heghlight-wrapper{
  background-image: url(../img-curent/promo_ipad_large.jpg);
  background-repeat: no-repeat;
  background-size: initial;
  background-position: center;
  height: 580px;
}
.seven-heghlight-wrapper{
  background-image: url(../img-curent/promo_airpods_pro_order_large.jpg);
  background-repeat: no-repeat;
  background-size: initial;
  background-position: center;
  color: #fff;
  height: 580px;
}
.eight-heghlight-wrapper{
  background-image: url(../img-curent/promo_macbook_air_15_midnight_large.jpg);
  background-repeat: no-repeat;
  background-size: initial;
  background-position: center;
  height: 580px;
}
.nine-heghlight-wrapper{
  background-image: url(../img-curent/tile_large.jpg);
  background-repeat: no-repeat;
  background-size: initial;
  background-position: center;
  height: 580px;
}
.ten-heghlight-wrapper{
  background-image: url(../img-curent/promo_iphone_tradein_large.jpg);
  background-repeat: no-repeat;
  background-size: initial;
  background-position: center;
  height: 580px;
}
/* .title-wraper{
  font-size: ;
} */
/* Footer Styling */
.footer-wrapper {
  background-color: #f5f5f7;
  color: #86868b;
  font-size: 0.7em;
}
.footer-wrapper ul {
  list-style: none;
  padding-bottom: 10px;
  padding-inline-start: 0px;
}
.footer-wrapper ul a {
  color: #515154;
}
.my-apple-wrapper {
  padding-bottom: 15px;
  margin-top: 10px;
}
.copyright {
  margin-top: 15px;
}
.footer-country {
  margin-top: 8px;
}
.flag-wrapper {
  display: inline-block;
  vertical-align: middle;
  padding-right: 5px;
}
.footer-country-name {
  display: inline-block;
  vertical-align: middle;
}
.footer-links-terms ul {
  display: flex;
}
.footer-links-terms ul li {
  padding: 0 10px;
  border-right: 1px solid #d2d2d7;
}
.footer-links-terms ul li:first-child {
  padding-left: 0;
}
.footer-links-terms ul li:last-child {
  border-right: 0;
}

.footer-links-wrapper h3 {
  font-size: 12px;
  font-weight: 600;
  color: #1d1d1f;
}
.footer-wrapper ul li {
  padding: 4px 0;
}
.upper-text-container {
  border-bottom: 1px solid #d2d2d7;
  padding: 17px 0 10px;
  margin-bottom: 20px;
}
.upper-text-container a {
  color: #515154;
}

/*Media Query*/
/* Footer */
@media (max-width: 768px) {
  .second-hightlight-wrapper{
    background-image: url(../img-curent/tin-don-ve-iphone-15-9.webp);
    height: 580px;
    background-position: center;
    border: solid;
    color: #fff;
  }
  .footer-links-wrapper ul {
    display: none;
  }
  .footer-links-wrapper h3 {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
  }
  .footer-links-wrapper h3:after {
    font-family: "FontAwesome";
    content: "\f067";
    padding-left: 10px;
    position: absolute;
    right: 25px;
  }
}
@media (min-width: 768px) {
  /*Nav bar*/
  .nav-item {
    text-align: center !important;
    padding: 0;
    border-bottom: 0px;
  }
  /*Footer styling*/
  .my-apple-wrapper {
    border-bottom: 1px solid #d2d2d7;
  }
}
@media (min-width: 992px) {
  /*Footer styling*/
  .copyright {
    margin-top: 10px;
  }
  .footer-country {
    margin-top: 10px;
  }
  .footer-links-terms {
    margin-top: 10px;
  }
}
